.about-section {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  padding: 0 40px;

  .about-image-section {
    position: relative;
    width: 60%;
    img {
      position: absolute;
    }

    .image-item-1 {
      width: 285px;
      z-index: 3;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      top: 0;
      right: 30px;
    }

    .image-item-2 {
      width: 350px;
      z-index: 2;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      bottom: 0;
    }

    .image-item-3 {
      opacity: 0.5;
    }

    .image-item-4 {
      width: 100px;
      right: 90px;
      bottom: 18px;
    }

    .about-video-player-btn {
      width: 120px;
      height: 120px;
      background-color: #1CB098;
      border-radius: 100%;
      position: absolute;
      top: 33%;
      left: 35%;
      z-index: 9;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 40px;
        color: white;
      }

      .btn-border {
        width: 120px;
        height: 120px;
        position: absolute;
        border-radius: 100%;
        border: 1px solid #fff;
        z-index: 9;
        animation: anime 0.8s ease-in infinite;
        opacity: 1;

        @keyframes anime {
          0% {
            width: 120px;
            width: 120px;
          }

          25% {
            width: 160px;
            height: 160px;
          }

          50% {
            width: 180px;
            height: 180px;
          }

          75% {
            width: 200px;
            height: 200px;
          }

          100% {
            width: 230px;
            height: 230px;
            opacity: 0;
          }
        }
      }
    }
  }

  .about-text-section {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 50px;

    h2 {
      font-weight: 600;
      font-size: 50px;
      line-height: 55px;

    }

    .about-pera {
      color: #666;
      line-height: 30px;
    }

    .about-list {

      li {
        color: #666;
        font-weight: 600;
        padding: 10px;
      }
    }

    .about-link-wrapper {
      display: flex;
      gap: 20px;

      .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 55px;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s;
      }

      .link1 {
        background-image: linear-gradient(to right, #1CB098, #05d5b3, #1CB098);

        &:hover {
          transition: 0.5s;
        }
      }

      .link2 {
        background-color: #0e2a47;

        &:hover {
          transition: 0.5s;
          background-image: linear-gradient(to right, #1CB098, #05d5b3, #1CB098);
        }
      }
    }
  }

  .video-model-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.726);
    display: none;

    video {
      height: 500px;
      border-radius: 5px;
    }

    .closeBtn {
      font-size: 25px;
      color: white;
      cursor: pointer;
      position: absolute;
      right: 250px;
      top: 20px;
    }
  }
}

.professional-instructor-section {
  margin: 90px 0;
  padding: 35px;

  .instructor-top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heading-1 {
      font-size: 22px;
      border: 1px solid #b9e5de;
      font-weight: 500;
      color: #1CB098;
      border-radius: 4px;
      padding: 8px 30px;
      width: 295px;
      margin-bottom: 20px;
    }

    .heading-2 {
      font-size: 50px;
      font-weight: 600;
      line-height: 57px;
      margin-bottom: 40px;
      width: 500px;
      text-align: center;
    }
  }

}

.instructors-info-wrapper {
  .instructor-design {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;

    .instructor-item {
      text-align: center;

      .image-wrapper {
        width: 350px;
        border-radius: 25px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }

      .instructor-details {
        margin: 20px;
        font-weight: 600;

        .instructor-name {
          font-size: 24px;
          margin-bottom: 10px;
        }

        .instructor-work {
          font-size: 15px;
          color: #666;

        }
      }
    }

    .instructor-item3 {
      padding: 40px;
      border: 2px solid #1CB098;
      border-radius: 20px;
      margin-left: 35px;

      h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      p {
        color: #666;
        line-height: 33px;
        margin-bottom: 30px;

      }

      .btn {
        width: 190px;
        height: 50px;
        border-radius: 40px;
        background-color: #1CB098;
        color: white;
        font-weight: 600;
        font-size: 17px;
        padding: 12px 30px;
        text-align: left;
        transition: 0.2s;

        &:hover {
          transition: 0.2s;
          margin-left: 35px;
        }
      }
    }
  }
}

.swiper-wrapper {
  display: flex;

  .swiper-slide {
    width: 45%;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.616);
    border-radius: 20px;
    .slider-top{

    }
  }
}