.about-section-wrapper {
  margin-bottom: 80px;
  .about-section {
    display: flex;
    justify-content: space-between;
    .about-image-section { 
      position: relative;
      width: 60%;  
      img {
        position: absolute;
      }
      .image-item-1 {
        width: 285px;
        z-index: 3;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        top: 0;
        right: 30px;
      }
      .image-item-2 {
        width: 350px;
        z-index: 2;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        bottom: 0;
      }
      .image-item-3 {
        opacity: 0.5;
      }
      .image-item-4 {
        width: 100px;
        right: 90px;
        bottom: 18px;
      }
      .about-video-player-btn {
        width: 120px;
        height: 120px;
        background-color: #1CB098;
        border-radius: 100%;
        position: absolute;
        top: 33%;
        left: 35%;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
          font-size: 40px;
          color: white;
        }
        .btn-border {
          width: 120px;
          height: 120px;
          position: absolute;
          border-radius: 100%;
          border: 1px solid #fff;
          z-index: 9;
          animation: anime 0.8s ease-in infinite;
          opacity: 1;
          @keyframes anime {
            0% {
              width: 120px;
              width: 120px;
            }
            25% {
              width: 160px;
              height: 160px;
            }
            50% {
              width: 180px;
              height: 180px;
            }
            75% {
              width: 200px;
              height: 200px;
            }
            100% {
              width: 230px;
              height: 230px;
              opacity: 0;
            }
          }
        }
      }
    }
    .about-text-section {
      width: 550px;
      margin-left: 50px;  
      h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #000;
        margin-bottom: 25px;
      }
      .about-pera {
        color: #666666;
        line-height: 34px;
        margin-bottom: 25px;
      }
      .about-list {
        margin-left: 19px;
        list-style-type: disc;
        li {
          color: #666;
          font-weight: 600;
          padding: 10px;
        }
      }
    }  
  }
}

.video-model-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  .video-box-with-close {
    position: relative;
    width: 700px;
  }
  .closeBtn {
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -40px;
  }
  video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.about-review-wrapper {
  margin-bottom: 80px;
  .heading-box-container {
    text-align: center;
    margin-bottom: 20px;
  }
  .heading-box {
    display: inline-flex;
    border: 1px solid #b9e5de;
    border-radius: 5px;
    color: #1cb098;
    padding: 5px 20px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .heading-text {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
  }
}

.about-review-box {
  border: 1px solid #e3e3e3;
  width: 350px;
  border-radius: 10px;
  .about-review-box-header {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-bottom: 1px solid #e3e3e3;
    .about-header-info {
      background-color: #1cb098;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      img {
        height: 15px;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .about-review-text {
    color: #666666;
    line-height: 34px;
    padding: 20px;
  }
}


.dc-continuous-review-swiper {
  width: 100%;
  padding: 20px 0;
}

.dc-continuous-review-swiper .swiper-slide {
  width: 320px; /* required for auto sliding */
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.dc-continuous-review-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
  will-change: transform;
}

.dc-continuous-review-swiper {
  max-width: 100%;
  overflow: hidden;
}