.contact-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 80px;

  .contact-form-inner-wrapper {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.219);
    padding: 75px;
    width: 68vw;

    .heading {
      font-weight: 600;
      font-size: 42px;
      margin-bottom: 18px;

    }

    .input-field {
      width: 100%;
      border: none;
      outline: none;
      padding: 12px 0;
      border-bottom: 1px solid #d2e3f9;
      margin-top: 10px;
      margin-bottom: 15px;

      // &::-webkit-outer-spin-button,
      // &::-webkit-inner-spin-button {
      //   -webkit-appearance: none;
      //   margin: 0;
      // }

    }

    .input-field-wrapper {
      display: flex;
      gap: 20px;
    }

    .text-area {
      border: none;
      outline: none;
      border-bottom: 1px solid #d2e3f9;
      width: 100%;
      height: 200px;
      margin-top: 20px;
    }

    .get-btn {
      border: none;
      outline: none;
      width: 160px;
      height: 50px;
      background-color: #1cb098;
      color: white;
      font-weight: 600;
      margin-top: 15px;
      border-radius: 10px;
      transition: 0.5s;
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;

      i {
        margin-bottom: 3px;
      }

      &:hover {
        color: #111;
        background-color: #F4B335;
        transition: 0.5s;

      }

    }


  }

  .leaf-img {
    position: absolute;
    bottom: -50px;
    left: 15px;
    width: 150px;
    z-index: -1;
  }
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  margin-bottom: 60px;

  h3 {
    width: 220px;
    height: 40px;
    color: #1cb098;
    border: 1px solid #d2e3f9;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 25px;
  }

  h2 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 35px;
  }

  .contact-wrappers {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 0 220px;

    .wrapper {
      width: 33%;
      padding: 50px 40px;
      border: 1px solid #1cb0979d;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      img {
        width: 60px;
        margin-bottom: 15px;
      }

      h4 {
        font-size: 22px;
        font-weight: 600;

      }

      p {
        line-height: 30px;
        color: #666666;
        font-weight: 500;
      }

      a {

        color: #666666;
      }
    }
  }
}