.contact-form-wrapper {
  margin-bottom: 80px;
  .contact-form-inner-wrapper {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.219);
    padding: 75px;
    position: relative;
    .heading {
      font-weight: 700;
      font-size: 42px;
      margin-bottom: 18px;
    }
    .input-field-wrapper {
      display: flex;    
      gap: 20px;
    }
    .secondary-btn {
      height: 55px;
      i {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .leaf-img {
      position: absolute;
      bottom: 0;
      left: -80px;
      width: 150px;
      z-index: -1;
    }
  }
}

.contact-info-wrapper {
  display: flex;
  margin-bottom: 80px;
  .contact-info-top {
    display: flex;
    flex-direction: column;
    align-items: center;
      h2 {
      width: 220px;
      height: 40px;
      color: #1cb098;
      border: 1px solid #d2e3f9;
      font-size: 22px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 25px;
    }
    h3 {
      font-weight: 700;
      font-size: 45px;
      margin-bottom: 35px;
    }
  }
  .contact-wrappers {
    display: flex;
    justify-content: space-between;
    .wrapper {
      width: 30%;
      padding: 50px 40px;
      border: 1px solid #1cb0979d;
      border-radius: 10px;
      display: flex;  
      flex-direction: column;
      gap: 15px;
      img {
        width: 60px;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 22px;
        font-weight: 600;
      }
      p {
        line-height: 30px;
        color: #666666;
        font-weight: 500;
      }
      .link {
        color: #666666;
      }
    }
  }
}

//map wrapper
.map-wrapper {
  margin-bottom: 80px;
  .map-frame {
    width: 100%;
    height: 400px;
  }
}
