.faq-question-wrapper {
  margin: 80px;
  .faq-question-inner-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .text-section {
      width: 32%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .heading-btn {
        border: 1px solid #b9e5de;
        border-radius: 5px;
        color: #1cb098;
        padding: 5px 20px;
        line-height: 25px;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        padding-right: 60px;
      }
      .heading {
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
      }
      .question-box {
        width: 96%;
        border-top: 1px solid black;
        padding: 30px 0px;
        line-height: 25px;

        .question-heading {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .solution {
          color: #666666;
          font-size: 17px;
          font-weight: 400;
          margin-bottom: 25px;
        }
        .contact-btn {
          color: white;
          border-radius: 50px;
          font-weight: 600;
          background-color: #1cb098;
          width: 175px;
          height: 52px;
          outline: none;
          border: none;
          transition: 0.5s;
          &:hover {
            transition: 0.5s;
            color: black;
            background-color: #f4b335;
          }
        }
      }
    }
    .questions-wrapper {
      width: 57%;
      .accordion {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .accordion-button {
        height: 70px;
        background-color: transparent;
        outline: none;
        &:focus {
          box-shadow: none;
        }
        &::after {
          background-image: url("../assets/images/add.svg");
        }
      }

      .accordion-body {
        padding: 0 25px;
        color: #666;
        line-height: 30px;
      }
      .accordion-header {
        border-bottom: 1px solid #6666667d;
      }
      .accordion-header {
        button {
          font-size: 18px;
          color: black;
          font-weight: 900;
        }
      }
    }
  }
}
