@use 'variables';

//Primary Btn Link
.btn-primary-link {
  height: 42px;
  padding: 0 20px;
  background-color: variables.$themebgSecondary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: variables.$black;
  font-weight: 500;
  &:hover {
    background-color: variables.$themebg;
    color: variables.$white !important;
  }
}

//Secondary Btn Link
.btn-secondary-link {
  height: 42px;
  padding: 0 20px;
  background-color: variables.$themebg;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: variables.$black;
  font-weight: 500;
  color: variables.$white;
  i {
    margin-left: 8px;
  }
  &:hover {
    background-color: variables.$themebgSecondary;
    color: variables.$black !important;
  }
  &.secondary-btn {
    outline: none;
    border: none;
    transition: 0.5s;
  }
}

//textarea
textarea {
  resize: none;
  &.form-control-no-border {
    height: 200px;
  }
}

//form-control-no-border
.form-control-no-border {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  padding: 12px 0;
  border-bottom: 1px solid #d2e3f9;
  margin-top: 10px;
  margin-bottom: 25px;
}

