.gallery-section-wrapper {
  width: 100%;
  padding: 90px;
  .gallery-inner-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .gallery-section {
      display: flex;
      gap: 30px;
      margin-bottom: 35px;
      .gallery-style-one-item {
        height: 55vh;
        border-radius: 10px;
        overflow: hidden;
        .gallery-img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
