@use 'variables';

//Header Top
.header-top {
  height: 44px;
  background-color: variables.$themebg;
  .header-top-inner {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-top-left {
      ul {
        display: flex;
        align-items: center;
        li {
          color: variables.$white;
          font-size: 13px;
          font-weight: 400;
          i {
            margin-right: 5px;
            color: variables.$themebgSecondary;
          } 
          &:first-child {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

//Header
header {
  height: 80px;
  background-color: variables.$white;
  .header-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-left {
      .logo-img {
        height: 40px; 
      }
    }
    .header-right {
      .header-navigation-bar {
        display: flex;
        align-items: center;
        gap: 40px;  
        & > li {
          position: relative;
            & > a {
            color: variables.$black;
            font-weight: 500;
            font-size: 16px;
            height: 75px;
            display: flex;
            align-items: center;
            .fa-angle-down {
              margin-left: 10px;
            }
            &:hover {
              color: variables.$themebgSecondary;
              & + .sub-menu {
                display: block;
              }
            }
          }
          &:last-child {
            a {
              height: 42px;
            }
          }
        }
      }
    }
  }
}

.sub-menu {
  position: absolute;
  top: 76px;
  left: 0;
  z-index: 99;
  background-color: white;
  min-width: 220px;
  display: none;
  &:hover {
    display: block;
  }
  li {
    a {
      display: flex;
      align-items: center;
      padding: 0 20px;
      height: 45px;
      border-bottom: 1px solid gray;
      color: #000;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #662b81;
        color: white;
      }
    }
    &:last-child {
      a {
        border: none;
      }
    }
  }
}

//Header Social Links
.social-links {
  display: flex;
  gap: 7px;  
  a {
    height: 26px;
    width: 26px;
    background-color: variables.$white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;  
    color: variables.$themebg;
    &:hover {
      background-color: variables.$themebgSecondary;
    }
  }    
}
