@use 'variables';

//Banner wrapper
.banner {
  position: relative;
  margin-bottom: 80px;
  video {
    height: 600px;
    width: 100%; 
    object-fit: cover;   
  }
  .banner-overlay {
    background-color: transparent;
    background-image: linear-gradient(135deg, #662B81B3 0%, #0808081A 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3px;
    left: 0;
  }
  .banner-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .banner-heading {
      color: variables.$white;
      font-size: 65px;
      font-weight: 600;
      margin-bottom: 25px;
      line-height: 70px;  
    }
    .banner-text {
      color: variables.$white;
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
}

//Our Service Section
.our-service-wrapper {
  margin-bottom: 10px;
  .our-service-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    .left-side {
      width: 50%;
      h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: variables.$black;
      }
    }
    .right-side {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      p {
        color: variables.$text1;
        line-height: 34px;
        max-width: 450px;
      }
    }
  }
  .our-service-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    .our-service-box-col {
      width: 30%;
      margin: 0 20px;
      margin-bottom: 70px;
    }
    .our-service-img {
      height: 80px;
      width: 80px;
      border: 1px solid variables.$border1;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      img {
        height: 48px;
        width: 48px;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      line-height: 34px;
      color: variables.$text1;
      margin-bottom: 20px;
    }
  }
}

//Service Left Section
.service-left {
  margin-bottom: 80px;
  .service-left-inner {
    display: flex;
    align-items: center;
    gap: 80px;
    .left-side {
      width: 50%;
      img {
        width: 100%;
      }
    }
    .right-side {
      width: 50%;
      .right-side-heading {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: variables.$black;
        margin-bottom: 35px;
      }
      .right-side-text {
        line-height: 34px;
        margin-bottom: 35px;
      }
      .divide-design {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-bottom: 45px;
        .seprator {
          height: 100px;
          width: 1px;
          background-color: variables.$seprator;
        }
        .content-box {
          h3 {
            font-size: 60px;
            color: variables.$themebg;
            font-weight: 700;
            margin-bottom: 10px;
          }
          p {
            font-size: 20px;
            font-weight: 700;
            color: variables.$black;
          }
        }
      }
      .read-more-btn {
        height: 55px;
        min-width: 180px;
      }
    }
  }
}

//Lacture wrapper
.lacture-wrapper {
  margin-bottom: 80px;
  .lacture-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: variables.$black;
    text-align: center;
    margin-bottom: 40px;
  }
}

.custom-tabs-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.custom-tabs {
  width: auto;
  padding: 10px 0;
  background-color: variables.$white;
  box-shadow: 0px 0px 0px 0.5px #40576d12,0px 2px 4px 0px #182c5923,0px 6px 12px 0px #182c5912;
  border-radius: 50px;
  .nav-tabs {
    border: none;
    .nav-link {
      border: none;
      padding: 12px 15px;
      font-size: 17px;
      letter-spacing: 0.5px;
      color: variables.$black;
      font-weight: 500;
      margin: 0 10px;
      &.active {
        background-color: variables.$themebg;
        color: variables.$white;
        border-radius: 29px !important;
        padding: 12px 15px;
        font-size: 17px;
        letter-spacing: 0.5px;
      }
    }
  }
}

.video-box-row {
  display: flex;
  gap: 20px;
}

.video-box {
  width: 33.33%;
  background-color: variables.$white;
  box-shadow: 0px -4px 50px -14px rgb(109 117 143 / 53%);
  padding: 23px; 
  border-radius: 10px;
  .video-image {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .video-title {
    font-size: 18px;
    font-weight: 600;
    margin: 23px 0 20px 0;
    line-height: 25px;
  }
  .video-class-subject-detail {
    margin-top: 15px;
    ul {
      display: flex;
      gap: 18px; 
      li {
        font-size: 13px;
        font-weight: 500;
        span {
          margin-left: 3px;
        }
      }
    }
  }
  .video-person-details {
    display: flex;
    align-items: center;
    .video-person-image {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
      }
    }
    .video-person-body {
      margin-left: 15px;
      h3 {
        font-weight: 600;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        font-style: italic; 
        color: variables.$text3;
        font-weight: 500;
      }
    }
  }
}

//Testimonial Main Wrapper
.testimonial-main-wrapper {
  background-color: variables.$skyBg;
  margin-bottom: 80px;
  .testimonial-wrapper {
    background:
    linear-gradient(
      rgb( 230, 229, 253, 0.8),
      rgba(255,255,255,0.8)
    ),
    url('../assets/images/dot-map.png') center no-repeat;
    background-position: center center;
    background-repeat: no-repeat;  
    padding: 70px 0;
    .testimonial-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
      .testimonial-top-left {
        span {
          display: flex;
          margin-bottom: 20px;
          text-transform: uppercase;
          color: variables.$themebgSecondary;
          font-weight: 500;
          font-size: 13px;
        }
        h2 {
          color: variables.$black;
          font-size: 36px;
          font-weight: 600;
          line-height: 45px;
        }
      }
    }
    .testi-box {
      background-color: variables.$white;
      border-radius: 10px;
      padding: 30px;  
      display: flex !important;
      .testi-box-left {
        width: 65%;
        margin-right: 20px;
        .review-company-logo {
          height: 35px;
          margin-bottom: 20px;
        }
        .review-text {
          color: variables.$text3;
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          margin-bottom: 20px;  
        }
        .reviewer-details {
          .reviewer-name {
            font-weight: 500;
            margin-bottom: 8px;
            font-size: 15px;  
            color: variables.$text4;
          }
          .reviewer-position {
            font-size: 13px;
            font-style: italic;
            color: variables.$text3;
          }
        }
      }
      .testi-box-right {
        width: 35%;
        .reviewer-image {
          width: 100%; 
          border-radius: 10px;
        }
      }
    }
  }
}

.service-stripe-wrapper {
  background: #00194C;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  .marquee {
    display: flex;
    width: 200%;
    animation: marquee 25s linear infinite;
  }
  .marquee-group {
    display: flex;
    align-items: center;
    gap: 200px;
    width: 50%;
  }
  .marquee-group {
    span {
      font-size: 100px;
      font-weight: 700;    
      white-space: nowrap;
      position: relative;
      
      &:before {
        position: absolute;
        right: -150px;
        top: 50%;
        content: "";
        height: 100px;
        width: 100px;
        background: url('https://validthemes.net/site-template/learna/assets/img/icon/11.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        transform: translateY(-50%);
        margin-top: 10px;
      }
    }  
    &.left-gap {
      margin-left: 250px;
    }
    &.first {
      span {
        &:nth-child(even) {
          color: transparent;
          -webkit-text-stroke: 1px white;
        }
        &:nth-child(odd) {
          color: white;
          text-decoration: underline;
        }
      } 
    }
    &.second {
      span {
        &:nth-child(even) {
          color: white;
          text-decoration: underline;
        }
        &:nth-child(odd) {
          color: transparent;
          -webkit-text-stroke: 1px white;
        }
      }   
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.home-contact-wrapper {
  margin-bottom: 80px;
  .home-contact-inner {
    display: flex;
    gap: 80px;
    align-items: center;
    .left-side {
      width: 40%;
      .text-section {
        width: 100%;
        .solution {
          margin-bottom: 0;
        }
      }
    }
    .right-side {
      width: 60%; 
    }
  }
}

.home-contact-box {
  background-color: #F6F7FA;
  padding: 35px;
  border-radius: 10px;  
  border: 1px solid #e1e1e1;
  .home-contact-heading {
    font-size: 24px;
    font-weight: 700;
    color: black;
  }
  .seprator {
    height: 4px;
    width: 30px;
    background-color: #662b81;
    border-radius: 5px;
    margin: 15px 0 30px 0;
  }
  .secondary-btn {
    height: 50px;
    min-width: 180px;
    text-transform: uppercase;
    font-size: 15px !important;
  }
}

.custom-bg-wrapper {
  background-image: url('../assets/images/bg.jpg');
  background-attachment: fixed;
  margin-bottom: 80px;
  background-position: center;
  background-size: cover;
  .custom-bg-container {
    background-color: transparent;
    background-image: linear-gradient(135deg, #072656 0%, rgba(8, 8, 8, 0.1019607843) 100%);
    padding: 170px 0;
    .custom-bg-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      gap: 40px;
      p {
        text-transform: uppercase;
        font-size: 18px;
      }
      h2 {
        font-size: 60px;
        font-weight: 700; 
      }
      h3 {
        font-size: 30px;
      }
    } 
  }
}