.instructor {
  .instructor-wrapper {
    margin: 80px 0;
    .heading {
      font-size: 36px;
      font-weight: 600;
      span {
        color: #1cb098;
      }
    }
    .instructors-info-wrapper {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      padding: 40px 0;
      .instructor-info {
        position: relative;
        padding: 6px;
        img {
          z-index: 2;
          width: 250px;
        }
        .instructor__shape {
          position: absolute;
          bottom: 65px;
          z-index: -1;
          width: 100%;
          height: 210px;
        }
        .instructor-field {
          margin: 10px 0;
          font-weight: 600;
          color: #666;
        }
        .instructor-name {
          color: #082a5e;
          font-size: 22px;
          &:hover {
            color: #1363df;
          }
        }
      }
    }
  }
}
