.inner-banner-wrapper {
  background: linear-gradient(to left, #E5FFF3 0%, #e0f1ff 30%, #FDF2EF 100%);
  height: 400px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;  
  text-align: center;
  flex-direction: column;
  h2 {
    font-size: 60px;
    font-weight: 600;
    color: black;
    margin-bottom: 25px;
  }
}

.custom-breadcrumb {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    li {
      font-size: 17px;
      font-weight: 600;
      color: #666666;
      a {
        color: black;
        font-weight: 700;
      }
      &:first-child {
        i {
          margin-right: 3px;
        }
      }
      &:last-child {
        i {
          margin-left: 10px;
          margin-right: 5px;
        }
      }
    }
  }
}

.static-content-wrapper {
  margin-bottom: 80px;
  .static-content-box {
    border: 1px solid #e7e7e7;
    padding: 60px 60px 10px 60px;
    border-radius: 10px;
    h2 {
      color: black;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    h3 {
      color: black;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    p {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 40px;
      font-weight: 500;
      color: #666666;
    }
    span {
      font-size: 17px;
      line-height: 30px;
      display: block;
      color: #666666;
      font-weight: 500;
      margin-bottom: 15px;
    }
    ol {
      list-style-type: disc;
      margin-left: 18px;
      margin-bottom: 40px;
      li {
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 5px;
        font-weight: 500;
        color: #666666;
      }
    }
  }
}