@use './variables.scss';
@use './common.scss';
@use './form.scss';
@use './header.scss';
@use './home.scss';
@use './footer.scss';
@use './static.scss';
@use './contactUs.scss';
@use './gallery.scss';
@use './faq.scss';
@use './instructor.scss'